node_modules
.DS_Store
dist
dist-ssr
*.local
node_modules/*
.vscode
.vscode/*
src/scss/index.css
src/scss/index.css.map
.unlighthouse
.unlighthouse/*
.env
.env.local
.vercel
yarn-error.log
analyse.html
```