.hero__logo--events > * {
    opacity: 0.9;
}

.event-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
    max-width: clamp(13.75rem, 11.9rem + 9.25vw, 23rem);

    transition: transform 0.3s ease-in-out;

    &:hover .event-card-img img {
        transform: scale(1.1);
        transition: 0.5s;
    }

    > * {
        flex: 1;
    }
}

.event-card-img {
    max-width: 13.75rem;
    max-width: clamp(13.75rem, 11.9rem + 9.25vw, 23rem);
    max-height: 9rem;
    max-height: clamp(9rem, 7.8rem + 6vw, 15rem);
    width: 100%;
    height: 100%;
    border-radius: 11px;

    object-fit: cover;
    object-position: center;

    overflow: hidden;

    img {
        transition: transform 0.3s ease-in-out;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 11px;
    }
}

.event-card-title {
    font-size: 1rem;
    font-size: clamp(1rem, 0.92rem + 0.4vw, 1.4rem);
    justify-self: end;
    align-self: self-end;
    width: 100%;
}

.card-link-wrap {
    transition: transform 0.2s ease-in;
    will-change: transform, opacity;
    opacity: var(--card-opacity);
    transform: scale(var(--card-scale));
}

.card-link:hover .event-card-title > p {
    color: var(--panel-color);
}
