.final_main {
    padding-top: calc(5vh + 2px);
    @include bp(desktop) {
        padding-top: calc(5vh + 2%);
    }
}

.final_text {
    // font-size: 1.3rem;
    font-size: 1rem;
    font-size: clamp(1rem, 0.94rem + 0.3vw, 1.3rem);
}

.wrap-itemCard_final .itemCard {
    border-bottom: unset;
}

.text-review {
    padding-top: 2rem;
}

.checkout_btn_wrap {
    --gap: 1.56rem;

    .btn--checkout {
        background-color: hsl(var(--clr-dark-gray) / 1);

        &:hover,
        &:focus {
            background-color: hsl(var(--clr-dark-gray) / 0.8);
        }
    }
}

.final_qr {
    @include bp(tablet) {
        img {
            width: 50%;
            margin-inline: auto;
        }
    }

    p {
        align-self: self-start;
    }
}

.checkout .total {
    margin-block: 2.19rem;
}

.btn--go-back {
    border: 1px solid hsl(var(--clr-dark-gray) / 1);
    border-radius: 0.2rem;
}
