.formParentWrap {
    background: hsl(var(--clr-greyish-white) / 1);
    padding-bottom: 5rem;
}

.FormWrap {
    padding-block: 1.75rem;
    padding-block: clamp(1.75rem, 1.6rem + 0.75vw, 2.5rem);
    padding-inline: 1.25rem;
    padding-inline: clamp(1.25rem, 0.75rem + 2.5vw, 3.75rem);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 7px;
}

.Form {
    grid-template-columns: 1fr;

    @include bp(tablet) {
        grid-template-columns: repeat(2, 1fr);
    }

    @include bp(desktop) {
        grid-template-columns: repeat(3, 1fr);
    }
}

.FormInputWrap {
    input {
        padding-block: 0.5em;
        padding-inline: 0.5em;
        border: 0;
        border: 0.7px solid hsl(var(--clr-grey) / 1);
        border-radius: 4px;
        width: 100%;
        align-self: center;
    }

    input::placeholder {
        color: #c5c5c5;
    }

    input:invalid {
        border-color: hsl(var(--clr-magenta) / 1);
    }

    .FormInputError {
        color: hsl(var(--clr-magenta) / 1);
        font-size: 0.8rem;
        // opacity: 0;
        will-change: opacity;
        transition: all 0.3s;
    }

    input:invalid + .FormInputError {
        opacity: 1;
    }
}

.FormHeading {
    margin-bottom: 0.875rem;
    margin-bottom: clamp(0.875rem, 0.8rem + 0.375vw, 1.25rem);
    padding-top: 2rem;
    padding-top: clamp(2rem, 1.92rem + 0.39vw, 2.4rem);
}

.form__eventsWrap {
    grid-template-columns: 1fr;
    padding-block: 1.75rem;
    padding-block: clamp(1.75rem, 1.6rem + 0.75vw, 2.5rem);

    padding-inline: 1.25rem;
    padding-inline: clamp(1.25rem, 0.75rem + 2.5vw, 3.75rem);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 7px;
}

.form__summaryWrap {
    background-color: #fff;

    .itemCard {
        border: 0;
        background-color: #f8f6f5;
        border-radius: 10px;
    }
}

.form__eventsSummary {
    grid-template-rows: 0fr;
    // justify-items: center;
    // transition: grid-template-rows 0.3s;

    > * {
        overflow: hidden;
    }
}

[data-filled="true"].form__eventsSummary {
    // grid-template-rows: 1fr;

    > * {
        overflow: unset;
    }
}
