.wrap-leaderboards {
    --gap: 0;
    .leaderboards {
        padding-bottom: 10rem;
        > h3 {
            margin-top: 3.4rem;
            margin-top: clamp(3.4rem, 2.66rem + 3.697vw, 7.1rem);
            font-size: 2.8rem;
            font-size: clamp(2.8rem, 2.5rem + 1.5vw, 4.3rem);
            white-space: nowrap;
        }

        background-image: url(../assets/svg/contour_contained.svg);
        background-position: 0 50%;
        background-repeat: no-repeat;
        background-size: cover;
    }
    background-image: linear-gradient(
        180deg,
        hsl(285deg 15% 10%) 0%,
        hsl(285deg 15% 11%) 10%,
        hsl(283deg 12% 11%) 20%,
        hsl(270deg 13% 12%) 30%,
        hsl(266deg 11% 12%) 40%,
        hsl(266deg 11% 13%) 50%,
        hsl(266deg 11% 13%) 60%,
        hsl(266deg 11% 13%) 70%,
        hsl(266deg 11% 13%) 80%,
        hsl(266deg 11% 13%) 90%,
        hsl(266deg 11% 13%) 100%
    );
    .content {
        background: url(../assets/svg/contour_contained.svg),
            linear-gradient(
                180deg,
                hsl(285deg 15% 10%) 0%,
                hsl(285deg 15% 11%) 10%,
                hsl(283deg 12% 11%) 20%,
                hsl(270deg 13% 12%) 30%,
                hsl(266deg 11% 12%) 40%,
                hsl(266deg 11% 13%) 50%,
                hsl(266deg 11% 13%) 60%,
                hsl(266deg 11% 13%) 70%,
                hsl(266deg 11% 13%) 80%,
                hsl(266deg 11% 13%) 90%,
                hsl(266deg 11% 13%) 100%
            );
        background-size: cover;
        background-position: center center;
    }
}

.wrap-slate {
    border-radius: 15px;
    padding: 1.8rem;
    // height: 60rem;
    // width: 60rem;
    .slate {
        border: 1px solid #666666;
    }
}

.wrap-podium {
    margin-top: 9rem;
    margin-inline: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.wrap-table {
    margin-top: 6rem;
}

.ScoreTable {
    border-collapse: collapse;
    width: 100%;

    caption {
        background: hsl(var(--clr-black) / 1);
        font-size: 1.5rem;
        font-weight: 700;
        text-transform: uppercase;
        padding-block: 1rem;
    }

    .wrap-item-cell {
        align-items: center;
        justify-content: center;
        --gap: 0.3rem;
        background: hsl(226, 33%, 17%);
        border-radius: 10px;
        padding: 1rem;
    }

    th {
        text-align: left;
        background-color: hsl(0 0% 0% / 0.5);
    }

    th,
    td {
        padding: 1rem;
    }

    tr:nth-of-type(2n) {
        background: hsl(var(--clr-blue-gray) / 0.1);
    }

    @media (max-width: 41em) {
        th {
            display: none;
        }

        td {
            display: grid;
            grid-template-columns: 10ch auto;
            gap: 0.5rem;
            padding: 0.5rem 1rem;
        }

        td::before {
            content: attr(data-cell) " : ";
            font-weight: 700;
            text-transform: capitalize;
        }

        td:first-child {
            padding-top: 2rem;
        }

        td:last-child {
            padding-bottom: 2rem;
        }
    }
}
