.header--main {
    justify-content: space-between;
    padding: 0.5rem 1rem;
    align-items: center;
    // border-bottom: 1px solid hsl(var(--clr-grey-60));
    background-image: url(../assets/svg/vector_nav.svg);
    position: fixed;
    top: 0;
    z-index: 99;
    width: 100%;
    > .scroll-progress {
        // width: clamp(2.8rem, 5vw, 8.3rem);
        width: 100%;
        display: inline-block;
        height: 3px;
        position: absolute;
        inset: auto auto -2% 0;
        transform-origin: 0%;
        background: linear-gradient(90deg, hsl(var(--clr-magenta)) 0%, hsl(var(--clr-blue)) 100%);
    }
    background-color: var(--navbar-bg) !important;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.logo--container {
    --gap: 2rem;
    flex-shrink: 0;
    align-items: center;
    > * {
        aspect-ratio: 1;
        cursor: pointer;
    }
    > *:last-child > * {
        fill: hsl(var(--clr-white));
        stroke: hsl(var(--clr-white));
    }
}

.logo--invento {
    height: clamp(1.5rem, 5vw, 2.5rem);
}

.logo--search {
    height: clamp(3.625rem, 5vw, 5.1875rem);
}

.menu {
    height: 3rem;
}

.menu > * {
    stroke: hsl(var(--clr-white));
}

.mobile-nav-toggle {
    flex-shrink: 0;
    background: none;
    border: 0;
    cursor: pointer;
    // position: fixed;
    z-index: 10;
    // inset: 1rem 0.5rem auto auto;
}

.main-nav {
    // padding-block: 2.625rem;
    box-shadow: 6px 1px 14px hsl(var(--clr-white) / 0.5);
    padding-block: min(20rem, 10vh);
    padding-left: 3.1rem;
    padding-right: 5rem;

    position: fixed;
    inset: 0 0 0 auto;
    transform: translateX(100%);
    z-index: 5;
    transition: transform 0.3s ease-in-out;

    background-image: url(../assets/svg/invento__logo_partial_mobile.svg);
    background-repeat: no-repeat;
    background-position: 5rem 10%;
    background-size: cover;
    overflow-y: scroll;
    @include bp(desktop) {
        inset: 0;
        transform: translateY(-200%);
        background-image: url(../assets/svg/invento__logo_partial.svg);
        background-position: right top;
        background-size: contain;

        grid-template-columns: repeat(3, 1fr);

        transition: transform 0.5s cubic-bezier(0.03, 0.72, 0.97, 0.59);

        .nav--footer {
            grid-column: 1/2;
            grid-row: 1/2;
            align-self: stretch;
            position: relative;
            &::after {
                content: "";
                display: block;
                width: 2px;
                background-color: hsl(var(--clr-grey-60) / 1);
                position: absolute;
                inset: 0 0 0 auto;
            }
        }

        .primary-navigation {
            grid-column: 2/3;
            grid-row: 1/2;
        }
    }
}

[data-expanded="true"].main-nav {
    transform: translateX(0%);

    @include bp(desktop) {
        transform: translateY(0%);
    }
}

.primary-navigation {
    --flow-space: 1.875rem;
    a {
        @include reset-link;
        font-size: 2.4rem;
        font-size: clamp(2.4rem, 2.17rem + 1.1vw, 3.5rem);
    }
    li {
        @include list-reset;
    }

    .navlink {
        --gap: 1.1rem;
        width: fit-content;
        &:focus,
        &:hover {
            color: hsl(var(--clr-blue) / 1);
            // all icon paths
            > * > * {
                stroke: currentColor;
            }
        }
    }
}

.nav--footer {
    font-size: 2.4rem;
    font-size: clamp(2.4rem, 2.17rem + 1.1vw, 3.5rem);
    padding-left: 2.5rem;
    align-self: center;
}

.header--main[data-theme="light"] {
    --icon-color: #353535;

    .logo--invento > * {
        fill: var(--icon-color);
    }

    .menu > * {
        stroke: var(--icon-color);
    }

    .opened > .menu > * {
        stroke: hsl(var(--clr-white) / 1);
    }
}
