.eventPreview {
    // margin-top: 5rem;
    min-height: 100vh;
    min-height: 100dvh;

    // .bg--full--preview {
    //     background-image: attr(data-bg);
    //     background-color: #0f0e0d;
    //     background-repeat: no-repeat;
    //     background-size: cover;
    //     // width: 100%;
    //     height: 100vh;

    //     /* Set up positioning */
    //     // position: fixed;
    //     // top: 0;
    //     // left: 0;
    // }

    &__title {
        position: fixed;
        inset: 80% auto 5% auto;
        font-size: 1rem;
        font-size: 2rem;
        font-size: clamp(2rem, 1.15rem + 4.25vw, 6.25rem);
        margin-left: clamp(1.5rem, 0.349rem + 5.75vw, 7.5rem);
        align-self: self-end;
        -webkit-text-stroke: 2px #000;

        // text-shadow:
        //     0 1px 0 #ccc,
        //     0 2px 0 #c9c9c9,
        //     0 3px 0 #bbb,
        //     0 4px 0 #b9b9b9,
        //     0 5px 0 #aaa,
        //     0 6px 1px rgba(0, 0, 0, 0.1),
        //     0 0 5px rgba(0, 0, 0, 0.1),
        //     0 1px 3px rgba(0, 0, 0, 0.3),
        //     0 3px 5px rgba(0, 0, 0, 0.2),
        //     0 5px 10px rgba(0, 0, 0, 0.25),
        //     0 10px 10px rgba(0, 0, 0, 0.2),
        //     0 20px 20px rgba(0, 0, 0, 0.15);

        text-shadow:
            0px 3px 0px #b2a98f,
            0px 14px 10px rgba(0, 0, 0, 0.15),
            0px 24px 2px rgba(0, 0, 0, 0.1),
            0px 34px 30px rgba(0, 0, 0, 0.1);

        @include bp(tablet) {
            inset: 65% auto 3% auto;
        }
    }

    &__content {
        margin-top: 100vh;
    }

    &__content > * {
        padding-block: 3rem;
        padding-block: clamp(3rem, 2.6rem + 2vw, 5rem);
    }

    &__description,
    &__rules li {
        font-size: 1.18rem;
        font-size: clamp(1.18rem, 1.06598rem + 0.571vw, 1.75rem);
    }

    &__about > div,
    &__about > div > a {
        margin-top: 2.5rem;
        margin-top: clamp(2.5rem, 2.2rem + 1.5vw, 4rem);
    }

    .panel--bg {
        backdrop-filter: blur(25px);
    }
}

.bg__container {
    height: 100vh;
    position: fixed;
    top: 8%;
    width: 100%;
}

.preview-background {
    height: 100%;
    // position: absolute;
    // inset: 0;
    img {
        background: lightgray 299.348px 82px / 59.55% 91.798% no-repeat;

        max-height: 100%;
        max-width: 100%;
        object-fit: cover;
        object-position: 50% 50%;
        width: 100vw;

        // tall
        height: 100vh;

        @include bp(desktop) {
            //wide
            height: auto;
        }
    }
}

.contact-wrap {
    margin-left: 1rem;
}

.event-preview-details {
    font-size: 1.25rem;
    font-size: clamp(1.25rem, 1.15rem + 0.5vw, 1.75rem);
}
