html {
    scroll-behavior: smooth;
}

.layout {
    // min-height: 100vh;
    // min-height: 100dvh;
    // overflow-x: hidden;
    // overflow: hidden;
    // display: grid;
    // grid-template-rows: auto minmax(0, 1fr) auto;

    /* maybe remove this altogether as the page isn't short */
    display: flex;
    flex-direction: column;
    .footer {
        // margin-top: auto;
        // grid-column: -1;
        position: relative;
        z-index: 88;
    }
}

.bg--full {
    position: fixed;
    inset: 0;
    z-index: -1;
    min-height: 100vh;
    // min-height: 100dvh;

    &--preview {
        background: url(/static/natya_large.jpg) #0f0e0d no-repeat;
        background: url(/static/natya_large.webp) #0f0e0d no-repeat;

        background-size: cover;
        background-position: center center;

        @include bp(desktop) {
            background-position: center 0%;
        }
    }
}

.bg--full--saptha {
    position: fixed;
    inset: 0;
    width: 100%;
    z-index: -1;
    height: 110vh;
    // min-height: 100dvh;
    background: url(/static/saptha_hero_bg_mobile.jpg);
    background: url(/static/saptha_hero_bg_mobile.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    // background-attachment: fixed;

    @media (min-width: 31em) {
        background: url(/static/saptha_hero_bg.jpg), linear-gradient(90deg, #080d0e 0%, #15100d 75.31%, #080d0e 100%);
        background: url(/static/saptha_hero_bg.webp), linear-gradient(90deg, #080d0e 0%, #15100d 75.31%, #080d0e 100%);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center top;
    }
}

.bg--full--events {
    position: fixed;
    inset: 0;
    width: 100%;
    z-index: -1;
    height: auto;
    // min-height: 100dvh;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%),
        linear-gradient(0deg, #329ae6 0%, #329ae6 100%), url(/static/events_mobile.webp),
        linear-gradient(180deg, #1d120c 0%, #1c120a 100%);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%),
        linear-gradient(0deg, #329ae6 0%, #329ae6 100%), url(/static/events_mobile.jpg),
        linear-gradient(180deg, #1d120c 0%, #1c120a 100%);
    background-blend-mode: soft-light, hue, normal, normal;
    // background: url(/static/events_mobile.jpg);
    // background: url(/static/events_mobile.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% top;
    // background-attachment: fixed;
    background-blend-mode: soft-light, hue, normal, normal;

    @media (min-width: 31em) {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%),
            linear-gradient(0deg, #329ae6 0%, #329ae6 100%), url(/static/events_hero.webp),
            linear-gradient(90deg, #1d120c 0%, #15100d 75.31%, #1c120a 100%);

        background: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%),
            linear-gradient(0deg, #329ae6 0%, #329ae6 100%), url(/static/events_hero.jpg),
            linear-gradient(90deg, #1d120c 0%, #15100d 75.31%, #1c120a 100%);
        background-color: lightgray;
        background-position: 50%;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
}

.bg--box {
    padding: 2em;
}

.crumb-wrap {
    align-self: stretch;
    padding-top: 3em;
    padding-inline: 2em;
    justify-content: center;
    align-items: center;
}
body {
    --sb-track-color: #19161d;
    --sb-thumb-color: #ba2548;
    --sb-size: 5px;

    padding-top: 4.6rem;
}

.hero__logo {
    aspect-ratio: 1;
    height: clamp(14rem, 11.4rem + 13vw, 27rem);
}

.hero__logo > * {
    stroke: #fff;
    stroke-width: 1px;
}
