.header__bg {
    font-family: var(--ff-days-one);
    font-weight: 400;
    font-size: 2.4rem;
    font-size: clamp(2.4rem, 1.42rem + 4.9vw, 7.3rem);
    height: 100vh;
    height: 100dvh;
    background-image: url(../assets/svg/header_bg.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    text-align: center;
    margin-block: 5rem;
}

.bg__blur--saptha {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.05) 13.81%,
        rgba(227, 227, 227, 0.05) 100%
    );
}

.bg__blur--events {
    --bg: 202 100% 5%;
    background: hsl(var(--bg) / 0.4);

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.card--spotlight {
    aspect-ratio: 1;
    width: 21rem;
    width: clamp(21rem, 18.2rem + 14vw, 35rem);
    height: 14rem;
    height: clamp(14rem, 12.1rem + 9.5vw, 23.5rem);
}

.card--groupevent {
    width: 13.75rem;
    width: clamp(13.75rem, 11.9rem + 9.25vw, 23rem);

    height: 9rem;
    height: clamp(9rem, 7.8rem + 6vw, 15rem);
}

.btn {
    border: 0;
    background: none;
    padding-inline: 1.2em;
    padding-block: 0.7em;
    margin-block: 0.5em;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
}

.btn:disabled {
    cursor: not-allowed;
    // pointer-events: none;
}

.btn--subscribe {
    color: var(--text-clr, hsl(var(--clr-white) / 1));
    background: var(--bg, hsl(var(--clr-magenta) / 1));
}

.btn--link {
    @include reset-link;
}

.btn--add {
    cursor: pointer;
    border-radius: 6px;
    background-color: hsl(var(--clr-white) / 1);
    align-self: center;
    > svg {
        align-self: center;
        aspect-ratio: 1/1;
        width: 0.8rem;
        height: 0.8rem;
    }
}

.btn--register_event {
    border-radius: 11px;
    background-color: #fff;
}

.btn--save {
    background: #353535;
    border-radius: 4px;
}

.btn--save:disabled {
    background-color: hsl(var(--clr-grey) / 1);
    cursor: not-allowed;
}

.panel--bg {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.15) 13.81%, rgba(0, 0, 0, 0.15) 100%);

    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}

.accordion {
    &-trigger {
        cursor: pointer;
        width: 100%;
        background: transparent;
        border: 0;
        justify-content: space-between;
        align-items: center;

        padding-block: 1.18rem;

        span {
            font-size: 0.8rem;
            font-size: clamp(0.8rem, 0.66rem + 0.7vw, 1.5rem);
        }
    }

    &-panel {
        --gap: 0;
        padding-block: 0.875rem;
        padding-block: clamp(0.875rem, 0.8rem + 0.375vw, 1.25rem);
    }

    &-content {
        background-color: hsl(var(--clr-greyish-white) / 1);
        opacity: 0;
        flex-basis: 0;
        overflow: hidden;
        transition: flex-basis 0.5s, opacity 0.2s;
    }

    &-content[data-visible="true"] {
        flex-basis: auto;
        opacity: 1;
        padding-block: 0.81rem;
        padding-block: clamp(0.81rem, 0.5981rem + 1.06vw, 1.87rem);
        padding-inline: 0.89rem;
        padding-inline: clamp(0.89rem, 0.694rem + 0.9801vw, 1.87rem);
    }
}

.accordion:not(:last-child) {
    border-bottom: 1px solid #c5c5c5;
}

// debug

.items > * {
    margin-block: 2rem;
}

.wrap-form {
    display: flex;
    flex-direction: column;
}

//debug-end
.itemCard {
    --gap: 1.5rem;
    margin-block: 1rem;
    border-bottom: 0.5px solid hsl(var(--clr-grey) / 1);
    > * {
        justify-content: space-between;
        align-items: center;
    }

    .wrap-img {
        aspect-ratio: 1;

        > img {
            object-fit: cover;
            height: 100%;
            width: 4rem;
            width: clamp(4rem, 3.8rem + 1vw, 5rem);
        }
    }

    @include bp(tablet) {
        &_More {
            justify-content: center;
        }
    }
}

.group-container {
    border: 0;
}

.group {
    border: 1px solid #c5c5c5;
    border-radius: 6px;
    padding-block: 0.875rem;
    padding-block: clamp(0.875rem, 0.788rem + 0.4355vw, 1.31rem);
    padding-inline: 1.06rem;
    padding-inline: clamp(1.06rem, 0.9721rem + 0.4395vw, 1.5rem);
}

.group-title {
    font-size: 0.875rem;
    font-size: clamp(0.875rem, 0.85rem + 0.125vw, 1rem);
}
