.header__bg {
    font-family: var(--ff-days-one);
    font-weight: 400;
    font-size: 2.4rem;
    font-size: clamp(2.4rem, 1.42rem + 4.9vw, 7.3rem);
    height: 100vh;
    height: 100dvh;
    background-image: url(../assets/svg/header_bg.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    text-align: center;
    margin-block: 5rem;
}

.bg__blur--saptha {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.05) 13.81%,
        rgba(227, 227, 227, 0.05) 100%
    );
}

.bg__blur--events {
    --bg: 202 100% 5%;
    background: hsl(var(--bg) / 0.4);

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.card--spotlight {
    aspect-ratio: 1;
    width: 21rem;
    width: clamp(21rem, 18.2rem + 14vw, 35rem);
    height: 14rem;
    height: clamp(14rem, 12.1rem + 9.5vw, 23.5rem);
}

.card--groupevent {
    width: 13.75rem;
    width: clamp(13.75rem, 11.9rem + 9.25vw, 23rem);

    height: 9rem;
    height: clamp(9rem, 7.8rem + 6vw, 15rem);
}

.btn {
    border: 0;
    background: none;
    padding-inline: 1.2em;
    padding-block: 0.7em;
    margin-block: 0.5em;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.btn--subscribe {
    color: var(--text-clr, hsl(var(--clr-white) / 1));
    background: var(--bg, hsl(var(--clr-magenta) / 1));
}

.btn--link {
    @include reset-link;
}

.btn--register_event {
    border-radius: 11px;
    background-color: #fff;
}

.panel--bg {
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.05) 13.81%,
        rgba(227, 227, 227, 0.05) 100%
    );
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
