.header__bg {
    font-family: var(--ff-days-one);
    font-weight: 400;
    font-size: 2.4rem;
    font-size: clamp(2.4rem, 1.42rem + 4.9vw, 7.3rem);
    height: 100vh;
    height: 100dvh;
    background-image: url(../assets/svg/header_bg.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    text-align: center;
    margin-block: 5rem;
}

.bg__blur--saptha {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.05) 13.81%,
        rgba(227, 227, 227, 0.05) 100%
    );
}

.bg__blur--events {
    --bg: 202 100% 5%;
    background: hsl(var(--bg) / 0.4);

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.card--spotlight {
    aspect-ratio: 1;
    width: 21rem;
    width: clamp(21rem, 18.2rem + 14vw, 35rem);
    height: 14rem;
    height: clamp(14rem, 12.1rem + 9.5vw, 23.5rem);
}

.card--groupevent {
    min-width: 13.75rem;
    min-width: clamp(13.75rem, 11.9rem + 9.25vw, 23rem);

    min-height: 9rem;
    min-height: clamp(9rem, 7.8rem + 6vw, 15rem);
}

.btn {
    border: 0;
    background: none;
    padding-inline: 1.2em;
    padding-block: 0.7em;
    margin-block: 0.5em;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
}

.btn:disabled {
    cursor: not-allowed;
    // pointer-events: none;
}

.btn--subscribe {
    color: var(--text-clr, hsl(var(--clr-white) / 1));
    background: var(--bg, hsl(var(--clr-magenta) / 1));

    &:hover,
    &:focus {
        background: lighten($color: #bb2548, $amount: 10%);
    }
}

.btn--link {
    @include reset-link;
}

.btn--add {
    cursor: pointer;
    border-radius: 6px;
    background-color: hsl(var(--clr-white) / 1);
    align-self: center;
    > svg {
        align-self: center;
        aspect-ratio: 1/1;
        width: 0.8rem;
        height: 0.8rem;
    }
}

.btn--remove {
    border-radius: 6px;
    background-color: #fff;
    > svg {
        height: 1rem;
    }
}

.btn--toggle {
    cursor: pointer;
    border-radius: 6px;
    background-color: #fff;
    align-items: center;

    svg {
        height: 1rem;
        width: 1rem;
    }

    svg > *,
    svg > * {
        fill: #000;
    }

    &:disabled {
        cursor: not-allowed;
        svg > * {
            fill: hsl(var(--clr-grey) / 1);
        }
    }
}

.btn--register_event {
    border-radius: 11px;
    background-color: #fff;
}

.btn--save {
    background: #353535;
    border-radius: 4px;

    &:hover,
    &:focus {
        background: lighten($color: #353535, $amount: 10%);
    }
}

.btn--save:disabled {
    background-color: hsl(var(--clr-grey) / 1);
    cursor: not-allowed;
}

.btn--checkout {
    justify-self: center;
    color: #fff;
}

.btn-ca {
    color: hsl(var(--clr-white) / 1);
    border-radius: 16.5px;

    &-explore {
        background: transparent;
        border: 1px solid #fff;
    }

    &-reg {
        background: var(--card-gradient);
        background-size: 200%;
        background-position: left;
        transition: background-position 0.5s;

        &:hover,
        &:focus {
            background-position: right;
        }
    }
}

.Btn--loader {
    border: 4px solid rgba(255, 255, 255, 0.2);
    border-left: 4px solid;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    animation: load 1s infinite linear;
}

@keyframes load {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.panel--bg {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.15) 13.81%, rgba(0, 0, 0, 0.15) 100%);

    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}

.accordion {
    &-trigger {
        cursor: pointer;
        width: 100%;
        background: transparent;
        border: 0;
        justify-content: space-between;
        align-items: center;

        padding-block: 1.18rem;

        span {
            font-size: 0.8rem;
            font-size: clamp(0.8rem, 0.66rem + 0.7vw, 1.5rem);
        }
    }

    &-panel {
        --gap: 0;
        padding-block: 0.875rem;
        padding-block: clamp(0.875rem, 0.8rem + 0.375vw, 1.25rem);
    }

    &-content {
        display: grid;
        // grid-template-rows: 0fr;
        // transition: grid-template-rows 0.5s ease-in-out;
        > * {
            overflow: hidden;
        }
    }

    &-content[data-visible="true"] {
        background-color: hsl(var(--clr-greyish-white) / 1);

        // grid-template-rows: 1fr;
    }
}

.accordion:not(:last-child) {
    border-bottom: 1px solid #c5c5c5;
}

.accordion-state-icon {
    transform: rotate(180deg);
    transition: transform 0.5s ease-in-out;
}
.accordion[data-state="open"] .accordion-state-icon {
    transform: rotate(0deg);
}
.accordion[data-state="open"] .accordion-state-icon > * {
    fill: #000;
}

// debug

.items > * {
    margin-block: 2rem;
}

.wrap-form {
    display: flex;
    flex-direction: column;
}

//debug-end

.itemCardWrap {
    > .itemCard:last-child {
        border-bottom: 0;
    }
}

.itemCard {
    --gap: 1rem;
    margin-block: 1rem;
    padding-block: 0.81rem;
    padding-block: clamp(0.81rem, 0.5981rem + 1.06vw, 1.87rem);
    padding-inline: 0.89rem;
    padding-inline: clamp(0.89rem, 0.694rem + 0.9801vw, 1.87rem);

    border-bottom: 0.5px solid hsl(var(--clr-grey) / 1);

    &_details {
        grid-template-columns: repeat(3, 1fr);
        // justify-content: center;
        align-items: center;

        .btn {
            grid-column: 3/4;
            grid-row: 1/2;
            justify-self: center;
            align-self: center;
        }

        .wrap-icon-group {
            grid-column: 3/4;
            grid-row: 1/2;
            justify-self: center;
            align-self: center;
        }

        .detail-date {
            grid-area: 2/3/3/4;
        }

        @include bp(tablet) {
            grid-template-columns: repeat(5, 1fr);

            > * {
                // justify-self: center;
                align-self: center;
            }

            .btn {
                grid-area: auto;
            }
            .detail-date {
                grid-area: auto;
            }

            .wrap-icon-group {
                grid-area: auto;
            }
        }

        @media (max-width: 31.25em) {
            grid-template-columns: 1fr;
            justify-items: center;
            text-align: center;
            // &.group {
            //     grid-template-columns: 1fr;
            //     grid-template-rows: repeat(5, 1fr);

            //     > a {
            //         grid-row: 2/3;
            //     }

            //     > .detail-date {
            //         grid-row: 3/4;
            //     }

            //     > .detail-fee {
            //         grid-row: 4/5;
            //     }
            // }

            > .btn,
            .detail-date {
                grid-area: auto;
                grid-row: auto;
                grid-column: auto;
            }

            .wrap-icon-group {
                // visibility: hidden;
                display: none;
            }

            // .detail-fee {
            //     text-align: center;
            // }
        }

        @media (max-width: 25em) {
            grid-template-columns: 1fr;

            > .btn,
            .detail-date {
                grid-area: auto;
                grid-row: auto;
                grid-column: auto;
            }
        }
    }

    .wrap-img {
        width: fit-content;
        img {
            object-fit: cover;
            height: 4rem;
            height: clamp(4rem, 3.8rem + 1vw, 5rem);
            width: 4rem;
            width: clamp(4rem, 3.8rem + 1vw, 5rem);
        }
    }

    &_group {
        @include bp(tablet) {
            grid-template-columns: repeat(2, 1fr);

            > * {
                grid-column: 1/2;
            }
        }

        input {
            width: 100%;
        }

        button {
            justify-self: self-start;
            border: 1px solid hsl(var(--clr-grey) / 1);

            &:hover {
                background-color: hsl(var(--clr-greyish-white) / 1);
            }
        }
    }
}

.group-container {
    border: 0;
}

.group {
    border: 1px solid #c5c5c5;
    border-radius: 6px;
    padding-block: 0.875rem;
    padding-block: clamp(0.875rem, 0.788rem + 0.4355vw, 1.31rem);
    padding-inline: 1.06rem;
    padding-inline: clamp(1.06rem, 0.9721rem + 0.4395vw, 1.5rem);
}

.group-title {
    font-size: 0.875rem;
    font-size: clamp(0.875rem, 0.85rem + 0.125vw, 1rem);
}

.striked-heading {
    position: relative;
    &::before {
        content: "";
        display: block;
        position: absolute;
        inset: 50% -6% 50% -6%;
        transform: translateY(-60%);
        background-color: #fff;
        // width: 100%;
        border: 1px solid #fff;
    }

    &::after {
        content: "";
        // display: inline-block;
        position: absolute;
        inset: 50% auto 50% -0.6em;
        transform: translateY(-50%);
        // height: 20px;
        // width: 20px;
        // background-color: #fff;
        border-width: 0.4em;
        border-style: solid;
        border-left-color: #fff;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-top-color: transparent;
    }
}

.card__profile {
    .image img {
        height: 17rem;
        aspect-ratio: 1;
        object-fit: cover;
    }
}

.btn--share {
    background: transparent;
}

.card-share {
    --flow-space: 2em;

    border-radius: 15px;
    background-image: var(--card-gradient);
    max-width: 20rem;
    padding-block: 1.09rem;
    padding-block: clamp(1.09rem, 0.8581rem + 1.16vw, 2.25rem);

    padding-inline: 1.1875rem;
    padding-inline: clamp(1.1875rem, 0.9375rem + 1.25vw, 2.4375rem);

    max-width: 41.25rem;
    // max-width: clamp(20.0475rem, 15.8069rem + 21.2025vw, 41.25rem);

    p {
        padding-top: 4.1875rem;
        padding-top: clamp(4.1875rem, 3.35rem + 4.1875vw, 8.375rem);
    }
}

.podium {
    --gap: 0.3rem;
    display: inline-grid;
    grid-template-columns: 1fr;

    h4 {
        position: relative;
        z-index: 80;
    }

    picture {
        width: fit-content;
        align-self: center;
        position: relative;
        z-index: 80;
    }

    &-image {
        border-radius: 15px;
        width: 6.25rem;
        aspect-ratio: 1/1;
        object-fit: cover;
    }

    .inner {
        position: relative;
        z-index: 80;
        > * {
            grid-row: 1/2;
            grid-column: 1/2;
        }
    }

    .icon-position {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    .wrap-points {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%);
    }

    .wrap-image {
        // filter: blur(130px);
        position: relative;
    }
    .bg {
        z-index: 10;
        position: absolute;
        inset: -18% 0 0 0;
        background: hsl(var(--clr-magenta) / 1);
        filter: blur(100px);
    }
    .unblur {
        filter: blur(0);
    }
}

.wrap-loading {
    position: absolute;
    inset: 0;
    align-items: center;
    justify-content: center;

    > .loading-icon {
        height: 6.5rem;
        width: 4.5rem;
        animation: blink 0.6s ease-in-out infinite alternate;
    }
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.tooltip {
    position: relative;
}

.tooltip::before,
.tooltip::after {
    --scale: 0;
    --arrow-size: 10px;
    --tooltip-color: #333;

    position: absolute;
    top: -0.25rem;
    left: 50%;
    transform: translateX(-50%) translateY(var(--y-translate, 0)) scale(var(--scale));
    transition: 150ms transform;
    transform-origin: bottom center;
}

.tooltip::before {
    --y-translate: calc(-100% - var(--arrow-size));

    content: attr(data-tooltip);
    color: #fff;
    border-radius: 0.3rem;
    text-align: center;
    // width: max-content;
    // max-width: 100%;
    text-transform: none;
    font-family: var(--ff-serif);
    background-color: var(--tooltip-color);
    width: fit-content;
    padding: 0.2rem;
}

.tooltip:focus::before,
.tooltip:focus::after,
.tooltip:hover::before,
.tooltip:hover::after {
    --scale: 1;
}

.tooltip::after {
    --y-translate: calc(-1 * var(--arrow-size));

    content: "";
    border: var(--arrow-size) solid transparent;
    border-top-color: var(--tooltip-color);
    transform-origin: top center;
}
.img-greyscale {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    // svg filter
    filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
    filter: gray;
    -webkit-filter: grayscale(1);
    transition:
        1s filter,
        1s -webkit-filter;

    &:hover,
    &:focus {
        filter: grayscale(0%);
        -webkit-filter: grayscale(0%);
    }
}

.e-card {
    display: flex;
    flex-direction: column;
    .main-content {
        max-width: 28rem;
        max-height: 37.5rem;
        min-width: 20rem;
        border-radius: 30px;
        border: 1px solid var(--card-color);
        overflow: hidden;

        .image {
            position: relative;
            z-index: -1;
        }
    }

    img {
        transform: rotate(-12.38deg) translateY(-1.5rem) translateX(0.9rem);
        object-fit: cover;
        // width: 100%;
        // height: 100%;
    }

    .wrap-header {
        margin-top: 1rem;
        margin-left: 2rem;
        margin-bottom: 1.6rem;

        h4 {
            font-size: 1.5rem;
            font-size: clamp(1.5rem, 1.3rem + 1vw, 2.5rem);

            color: #000;
            // text-shadow:
            //     -1px -1px 0 var(--card-color),
            //     1px -1px 0 var(--card-color),
            //     -1px 1px 0 var(--card-color),
            //     1px 1px 0 var(--card-color);
            max-width: 12rem;
            max-width: clamp(12rem, 10.575rem + 7.1251vw, 19.125rem);
            word-wrap: break-word;
            // max-width: 29rem;

            // @include bp(tablet) {
            //     max-width: 10ch;
            // }

            // @include bp(desktop) {
            //     max-width: 39ch;
            // }

            position: relative;
        }

        h4::before {
            content: attr(data-content);
            display: block;
            position: absolute;
            font-size: 1.5rem;
            font-size: clamp(1.5rem, 1.3rem + 1vw, 2.5rem);
            color: #fff;
            inset: -2.5px;
            z-index: 2;
            -webkit-text-fill-color: #fff;
            -webkit-text-stroke-width: 0;
        }
    }

    .wrap-date {
        p {
            font-size: 1.5rem;
            font-size: clamp(1.5rem, 1.4rem + 0.5vw, 2rem);
            display: inline-block;
        }

        .marquee {
            --gap: 1rem;
            display: flex;
            overflow: hidden;
            user-select: none;

            &__content {
                flex-shrink: 0;
                display: flex;
                justify-content: space-around;
                min-width: 100%;
                gap: var(--gap);

                animation: scroll 10s linear infinite;
            }
        }
    }

    &:hover,
    &:focus {
        .img-greyscale {
            filter: grayscale(0%);
            -webkit-filter: grayscale(0%);
        }

        .marquee__content {
            animation-play-state: paused;
        }
    }

    @media (prefers-reduced-motion: reduce) {
        .marquee__content {
            animation-play-state: paused !important;
        }
    }

    @keyframes scroll {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(calc(-100% - var(--gap)));
        }
    }
}

.btn--ecard {
    background-color: var(--card-color);
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1.5rem;
    font-size: clamp(1.5rem, 1.4rem + 0.5vw, 2rem);
    position: relative;
    filter: blur(0px);
    -webkit-filter: blur(0px);
    transition: 1s filter;
    -webkit-transition: 1s -webkit-filter;
    -moz-transition: 1s -moz-filter;
    -ms-transition: 1s -ms-filter;
    -o-transition: 1s -o-filter;

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        inset: 0;
        z-index: -1;
        background-color: var(--card-color);
        border-radius: inherit;
    }

    &:hover::before,
    &:focus::before {
        filter: blur(10px);
        -webkit-filter: blur(10px);
    }
}

@include bp(desktop) {
    .e-card {
        // overflow: hidden;
        position: relative;
    }

    .main-content {
        transition: transform 0.3s 0.2s;
    }

    .btn--ecard {
        position: absolute;
        left: 50%;
        visibility: hidden;
        transform: translateX(-50%) translateY(400%);
        opacity: 0;
        transition:
            opacity 0.3s 0.2s,
            transform 0.3s 0.2s;
    }

    .e-card:hover .btn--ecard {
        visibility: visible;
        opacity: 1;
        transform: translateY(400%) translateX(-50%);
    }

    .e-card:hover .main-content {
        transform: translateY(-30%);
    }
}

.stroked-text {
    color: #000;
    text-shadow: -1px -1px 0 var(--stroke-color, #fff) 1px -1px 0 var(--stroke-color, #fff) -1px 1px 0 var(
            --stroke-color,
            #fff
        ) 1px 1px 0 var(--stroke-color, #fff);
}

@supports (-webkit-text-stroke: 1px black) {
    .stroked-text {
        color: unset;
        text-shadow: unset;
        -webkit-text-stroke: var(--stroke-width, 1px) var(--stroke-color, #fff);
        -webkit-text-fill-color: transparent;
    }
}

.marquee {
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
}

.marquee__group {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: var(--gap);
    min-width: 100%;
    animation: scroll var(--duration) linear infinite;
    animation-delay: 1s;
}

.marquee__content {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: var(--gap);
    min-width: 100%;
    animation: scroll var(--duration) linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-100% - var(--gap)));
    }
}

@media (prefers-reduced-motion: reduce) {
    .marquee__group {
        animation-play-state: paused;
    }
}

.slider {
    --duration: 60s;
    --gap: 1rem;

    // grid-auto-flow: column;
    // grid-auto-columns: minmax(150px, 1fr);

    // @include bp(tablet) {
    //     grid-auto-columns: minmax(300px, auto);
    // }

    img {
        width: 150px;
        // width: 100%;
        // height: 100%;
        @include bp(tablet) {
            width: 100%;
            height: 100%;
        }
        object-fit: cover;
    }

    .marquee__group {
        animation-fill-mode: none;
        animation-delay: 2s;
    }

    &:hover .marquee__group {
        animation-play-state: paused;
    }
}

.wrap-icon-group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: fit-content;
    padding: 1rem;
    background-color: #fff;
    border-radius: 6px;
}

.icon-group {
    width: 1.5rem;
    height: 1.5rem;
    > * {
        stroke: #000;
    }
}

.gradient-borders {
    --border-width: 3px;
    position: relative;
    border-radius: var(--border-width);

    &:focus::after,
    &:hover::after {
        content: "";
        position: absolute;
        top: calc(-1 * var(--border-width));
        left: calc(-1 * var(--border-width));
        height: calc(100% + var(--border-width) * 2);
        width: calc(100% + var(--border-width) * 2);
        border-radius: calc(2 * var(--border-width));
        background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
        z-index: -1;
        background-size: 300% 300%;
        animation: animatedgradient 3s ease alternate infinite;
    }
}

.pulse {
    animation: pulse 1.4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes pulse {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0.3;
    }
}
