.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.flex-col {
    flex-direction: column;
}

.flex-center {
    align-items: center;
    justify-content: center;
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.grid-3-col {
    grid-template-columns: minmax(1.8rem, 1fr) minmax(0, clamp(21rem, 2.193rem + 94vw, 115rem)) minmax(1.8rem, 1fr);
    > * {
        grid-column: 2/3;
    }
}

.grid-2-col {
    grid-template-columns: minmax(var(--side-padding, 1rem), 1.8rem) 1fr minmax(var(--side-padding, 1rem), 1.8rem);
    > * {
        grid-area: 1/2/2/3;
    }
    @include bp(desktop) {
        --calc-max-width: calc(var(--max-width) / 2);
        grid-template-columns:
            minmax(var(--side-padding, 1rem), 1.8rem)
            repeat(2, minmax(var(--calc-max-width), 1fr))
            minmax(var(--side-padding, 1rem), 1.8rem);
    }
}

.grid-z {
    grid-template-columns: minmax(var(--side-padding, 1rem), 1.8rem) 1fr minmax(var(--side-padding, 1rem), 1.8rem);

    > * {
        grid-column: 2/3;
        align-self: center;
    }

    > *:nth-child(odd) {
        justify-self: start;
    }

    > *:nth-child(even) {
        justify-self: self-end;
    }

    @include bp(desktop) {
        padding-inline: 10rem;
        grid-template-columns: repeat(3, 1fr);

        > *:nth-child(odd),
        > *:nth-child(even) {
            justify-self: center;
            align-self: center;
            grid-area: auto;
        }
    }

    @include bp(desktop) {
        padding-inline: 10rem;

        grid-template-columns: repeat(3, 1fr);
    }
}

.iflex {
    display: inline-flex;
    gap: var(--gap, 1rem);
}

.d-ib {
    display: inline-block;
}

.d-b {
    display: block;
}

// .flow > * + *
.flow > *:where(:not(:first-child)) {
    margin-top: var(--flow-space, 1rem);
}

.mt-sm {
    margin-top: var(--top, 0.6rem);
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

.underline {
    text-decoration: underline;
}

.ff-serif {
    font-family: var(--ff-serif);
}

.ff-montserrat {
    font-family: var(--ff-montserrat);
}

.ff-days-one {
    font-family: var(--ff-days-one);
}

.ff-gothic {
    font-family: var(--ff-gothic);
}

.fs-100 {
    font-size: var(--fs-100);
}

.fs-150 {
    font-size: var(--fs-150);
}

.fs-200 {
    font-size: var(--fs-200);
}
.fs-300 {
    font-size: var(--fs-300);
}
.fs-400 {
    font-size: var(--fs-400);
}
.fs-500 {
    font-size: var(--fs-500);
}
.fs-600 {
    font-size: var(--fs-600);
}

.fs-650 {
    font-size: var(--fs-650);
}

.fs-700 {
    font-size: var(--fs-700);
}
.fs-800 {
    font-size: var(--fs-800);
}
.fs-900 {
    font-size: var(--fs-900);
}
.fs-1000 {
    font-size: var(--fs-1000);
}
.fs-1100 {
    font-size: var(--fs-1100);
}
.fs-1200 {
    font-size: var(--fs-1200);
}

.fw-300 {
    font-weight: var(--fw-300);
}
.fw-200 {
    font-weight: var(--fw-200);
}
.fw-400 {
    font-weight: var(--fw-400);
}
.fw-500 {
    font-weight: var(--fw-500);
}

.text-black {
    color: hsl(var(--clr-black) / 1);
}

.text-white {
    color: hsl(var(--clr-white) / 1);
}

.text-turquoise {
    color: hsl(var(--clr-turquoise) / 1) !important;
}

.text-magenta {
    color: hsl(var(--clr-magenta) / 1) !important;
}

.text-grey {
    color: hsl(var(--clr-grey) / 1);
}

.text-blue {
    color: hsl(var(--clr-blue) / 1) !important;
}

.bg-black {
    background-color: hsl(var(--clr-black) / 1);
}

.bg-white {
    background-color: hsl(var(--clr-white) / 1);
}

.bg-magenta {
    background-color: hsl(var(--clr-magenta) / 1);
}

.bg-grey {
    background-color: hsl(var(--clr-grey) / 1);
}

.bg-dark-purple {
    background-color: hsl(var(--clr-purple-dark) / 1);
}

.bg-greyish-white {
    background-color: hsl(var(--clr-greyish-white) / 1);
}

.bg-dark-red {
    background-color: hsl(var(--clr-dark-red) / 1);
}

.bg-blue-gray {
    background-color: hsl(var(--clr-blue-gray) / 1);
}

.side-padding {
    padding-inline: var(--side-padding, 1rem);
}

.t-center {
    text-align: center;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.panel--fixed {
    position: sticky;
    top: 0;
    z-index: 1;
}

.panel {
    // min-height: 100vh;
    // min-height: 100dvh;
    position: relative;
    z-index: 2;
}

.h-full {
    height: 100vh;
    height: 100dvh;
}

.mb-sm {
    margin-bottom: 1.6rem;
}

.pb-sm {
    padding-bottom: 1.6rem;
}

.centeredContainer > * {
    max-width: var(--max-width, 81.5rem);
    margin-inline: auto;
}

.mh-full {
    min-height: 100vh;
    // min-height: 100dvh;
}

.grid-center-y {
    align-items: center;
}

.container {
    max-width: var(--max-width, 81rem);
}

.text-decoration-none {
    text-decoration: none;
}

.light-scheme {
    color-scheme: light;
}

.break-word {
    word-break: break-word;
}

.px-sm {
    padding-inline: 1.6rem;
}

.overflow-hidden {
    overflow: hidden;
}
