$bp-tablet: 45em;
$bp-desktop: 75em;

:root {
    --fs-100: 0.5rem; //8px
    --fs-150: 0.75rem; //12px
    --fs-200: 0.8125rem; //13px
    --fs-650: 1.75rem; //28px
    --fs-700: 1.875rem; //30px
    --fs-800: 2.375rem; //38px
    --fs-900: 4.125rem; //65px

    // --fs-300: 0.8125rem; //12px
    --fs-400: 1.0625rem; //17px
    --fs-500: 0.875rem; //14px
    --fs-600: 0.90625rem; //14.5px
    // --fs-1000: 1.4375rem; //23px
    // --fs-1100: 1.625rem; //26px
    // --fs-1200: 2.1875rem; //35px

    @include bp(desktop) {
        --fs-150: 0.9375rem; //15px
        --fs-200: 1.1875rem; //19px
        --fs-650: 4.25rem; //68px
        --fs-700: 3.125rem; //50px
        --fs-800: 7.3125rem; //117px
        --fs-900: 13.75rem; //220px
    }

    /* 
        apply colors like this: 
        color: hsl(var(--clr-white) / opacity);
    */
    --clr-white: 0 0% 100%;
    --clr-black: 0 0% 0%;
    --clr-grey: 0 0% 53%;
    --clr-grey-60: 0 0% 60%;
    --clr-magenta: 346 67% 44%;
    --clr-purple: 313 88% 53%;
    --clr-purple-dark: 266 12% 12%;
    --clr-blue: 211 99% 50%;
    --clr-dark-teal: 203 48% 10%;
    --clr-greyish-white: 20 18% 97%;
    --clr-dark-red: 346 91% 21%;
    --clr-blue-gray: 228 22% 13%;
    --clr-turquoise: 193 88% 40%;

    --fw-300: 300;
    --fw-200: 200;
    --fw-400: 400;
    --fw-500: 500;
    --ff-serif: "Poppins", sans-serif;
    --ff-days-one: "Days One", sans-serif;
    --ff-gothic: "Dela Gothic One", cursive;
    --ff-montserrat: "Montserrat", sans-serif;
    --card-gradient: linear-gradient(90deg, #0db4be 0%, #70398e 31.56%, #e12fa5 60.73%, #bf5234 100%);

    --bezier-default: cubic-bezier(0.08, 0.52, 0.52, 1);
}
