*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body,
#root {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

:root {
  --fs-100: 0.5rem;
  --fs-150: 0.75rem;
  --fs-200: 0.8125rem;
  --fs-650: 1.75rem;
  --fs-700: 1.875rem;
  --fs-800: 2.375rem;
  --fs-900: 4.125rem;
  --fs-400: 1.0625rem;
  --fs-500: 0.875rem;
  --fs-600: 0.90625rem;
  /* 
      apply colors like this: 
      color: hsl(var(--clr-white) / opacity);
  */
  --clr-white: 0 0% 100%;
  --clr-black: 0 0% 0%;
  --clr-grey: 0 0% 53%;
  --clr-grey-60: 0 0% 60%;
  --clr-magenta: 346 67% 44%;
  --clr-purple-dark: 266 12% 12%;
  --clr-blue: 211 99% 50%;
  --fw-300: 300;
  --fw-200: 200;
  --fw-400: 400;
  --fw-500: 500;
  --ff-serif: "Poppins", sans-serif;
  --ff-days-one: "Days One", sans-serif;
}
@media (min-width: 75em) {
  :root {
    --fs-150: 0.9375rem;
    --fs-200: 1.1875rem;
    --fs-650: 4.25rem;
    --fs-700: 3.125rem;
    --fs-800: 7.3125rem;
    --fs-900: 13.75rem;
  }
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.flex-col {
  flex-direction: column;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.grid-2-col {
  grid-template-columns: minmax(var(--side-padding, 1rem), 1.8rem) 1fr minmax(var(--side-padding, 1rem), 1.8rem);
}
.grid-2-col > * {
  grid-area: 1/2/2/3;
}
@media (min-width: 75em) {
  .grid-2-col {
    --calc-max-width: calc(var(--max-width) / 2);
    grid-template-columns: minmax(var(--side-padding, 1rem), 1.8rem) repeat(2, minmax(var(--calc-max-width), 1fr)) minmax(var(--side-padding, 1rem), 1.8rem);
  }
}

.iflex {
  display: inline-flex;
  gap: var(--gap, 1rem);
}

.d-ib {
  display: inline-block;
}

.d-b {
  display: block;
}

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-space, 1.5rem);
}

.uppercase {
  text-transform: uppercase;
}

.ff-serif {
  font-family: var(--ff-serif);
}

.ff-days-one {
  font-family: var(--ff-days-one);
}

.fs-100 {
  font-size: var(--fs-100);
}

.fs-150 {
  font-size: var(--fs-150);
}

.fs-200 {
  font-size: var(--fs-200);
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-600 {
  font-size: var(--fs-600);
}

.fs-650 {
  font-size: var(--fs-650);
}

.fs-700 {
  font-size: var(--fs-700);
}

.fs-800 {
  font-size: var(--fs-800);
}

.fs-900 {
  font-size: var(--fs-900);
}

.fs-1000 {
  font-size: var(--fs-1000);
}

.fs-1100 {
  font-size: var(--fs-1100);
}

.fs-1200 {
  font-size: var(--fs-1200);
}

.fw-300 {
  font-weight: var(--fw-300);
}

.fw-200 {
  font-weight: var(--fw-200);
}

.fw-400 {
  font-weight: var(--fw-400);
}

.fw-500 {
  font-weight: var(--fw-500);
}

.text-black {
  color: hsl(var(--clr-black)/1);
}

.text-white {
  color: hsl(var(--clr-white)/1);
}

.text-magenta {
  color: hsl(var(--clr-magenta)/1);
}

.text-grey {
  color: hsl(var(--clr-grey)/1);
}

.text-blue {
  color: hsl(var(--clr-blue)/1) !important;
}

.bg-black {
  background-color: hsl(var(--clr-black)/1);
}

.bg-white {
  background-color: hsl(var(--clr-white)/1);
}

.bg-magenta {
  background-color: hsl(var(--clr-magenta)/1);
}

.bg-grey {
  background-color: hsl(var(--clr-grey)/1);
}

.bg-dark-purple {
  background-color: hsl(var(--clr-purple-dark)/1);
}

.side-padding {
  padding-inline: var(--side-padding, 1rem);
}

.t-center {
  text-align: center;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.panel--fixed {
  position: sticky;
  top: 0;
  z-index: 1;
}

.panel {
  position: relative;
  z-index: 2;
}

.line {
  fill: none;
  stroke: black;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}

.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}

.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

.header__bg {
  font-family: var(--ff-days-one);
  font-weight: 400;
  font-size: 2.4rem;
  font-size: clamp(2.4rem, 1.42rem + 4.9vw, 7.3rem);
  height: 100vh;
  height: 100dvh;
  background-image: url(../assets/svg/header_bg.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.bg__blur--saptha {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.05) 13.81%, rgba(227, 227, 227, 0.05) 100%);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.card {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 10px;
  aspect-ratio: 1;
  width: clamp(21rem, 18.2rem + 14vw, 35rem);
  height: 14rem;
  height: clamp(14rem, 12.1rem + 9.5vw, 23.5rem);
}
.card__title {
  font-size: 1.8rem;
  font-size: clamp(1.8rem, 1.54rem + 1.3vw, 3.1rem);
  justify-self: end;
  align-self: self-end;
}

.header--main {
  justify-content: space-between;
  padding: 0.5rem 1rem;
  align-items: center;
  border-bottom: 1px solid hsl(var(--clr-grey-60));
  background-image: url(../assets/svg/vector_nav.svg);
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
}
.header--main::after {
  content: "";
  width: clamp(2.8rem, 5vw, 8.3rem);
  display: inline-block;
  height: 1px;
  position: absolute;
  inset: auto auto -2% 0;
  background-color: hsl(var(--clr-magenta));
}

.logo--container {
  --gap: 2rem;
  flex-shrink: 0;
  align-items: center;
}
.logo--container > * {
  aspect-ratio: 1;
  cursor: pointer;
}
.logo--container > *:last-child {
  fill: hsl(var(--clr-white));
  stroke: hsl(var(--clr-white));
}

.logo--invento {
  height: clamp(1.5rem, 5vw, 2.5rem);
}

.logo--search {
  height: clamp(3.625rem, 5vw, 5.1875rem);
}

.menu {
  height: 3rem;
}

.menu > * {
  stroke: hsl(var(--clr-white));
}

.mobile-nav-toggle {
  flex-shrink: 0;
  background: none;
  border: 0;
  cursor: pointer;
  position: fixed;
  z-index: 10;
  inset: 1rem 0.5rem auto auto;
}

.main-nav {
  box-shadow: 6px 1px 14px hsl(var(--clr-white)/0.5);
  padding-block: min(20rem, 10vh);
  padding-left: 3.1rem;
  padding-right: 5rem;
  position: fixed;
  inset: 0 0 0 auto;
  transform: translateX(100%);
  z-index: 5;
  transition: transform 0.3s ease-in-out;
  background-image: url(../assets/svg/invento__logo_partial_mobile.svg);
  background-repeat: no-repeat;
  background-position: 5rem 10%;
  background-size: cover;
  overflow-y: scroll;
}
@media (min-width: 75em) {
  .main-nav {
    inset: 0;
    transform: translateY(-200%);
    background-image: url(../assets/svg/invento__logo_partial.svg);
    background-position: right top;
    background-size: contain;
    grid-template-columns: repeat(3, 1fr);
    transition: transform 0.5s cubic-bezier(0.03, 0.72, 0.97, 0.59);
  }
  .main-nav .nav--footer {
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: stretch;
    position: relative;
  }
  .main-nav .nav--footer::after {
    content: "";
    display: block;
    width: 2px;
    background-color: hsl(var(--clr-grey-60)/1);
    position: absolute;
    inset: 0 0 0 auto;
  }
  .main-nav .primary-navigation {
    grid-column: 2/3;
    grid-row: 1/2;
  }
}

[data-expanded=true].main-nav {
  transform: translateX(0%);
}
@media (min-width: 75em) {
  [data-expanded=true].main-nav {
    transform: translateY(0%);
  }
}

.primary-navigation {
  --flow-space: 1.875rem;
}
.primary-navigation a {
  text-decoration: none;
  color: inherit;
  font-size: var(--fs-800);
}
.primary-navigation li {
  list-style: none;
}
.primary-navigation .navlink {
  --gap: 1.1rem;
}
.primary-navigation .navlink:focus, .primary-navigation .navlink:hover {
  color: hsl(var(--clr-blue)/1);
}
.primary-navigation .navlink:focus > * > *, .primary-navigation .navlink:hover > * > * {
  stroke: currentColor;
}

.nav--footer {
  padding-left: 2.5rem;
  align-self: center;
}

.layout {
  min-height: 100%;
}

.bg--full--saptha {
  position: fixed;
  inset: 0;
  z-index: -1;
  min-height: 100vh;
  min-height: 100dvh;
  background: url(../assets/images/saptha_hero_bg_mobile.png);
  background-size: cover;
  background-repeat: no-repeat;
}
@media (min-width: 31em) {
  .bg--full--saptha {
    background: url(../assets/images/saptha_hero_bg.png), linear-gradient(90deg, #080d0e 0%, #15100d 75.31%, #080d0e 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
  }
}

.bg--box {
  padding: 2em;
}

.crumb-wrap {
  align-self: stretch;
  padding-top: 3em;
  padding-inline: 2em;
  justify-content: center;
  align-items: center;
}

.saptha__hero {
  --gap: 0;
  margin-top: 3rem;
  align-items: center;
  min-height: 100vh;
}
.saptha__hero__logo > * {
  stroke: #fff;
  opacity: 1;
  stroke-width: 2px;
}
.saptha__hero__logo {
  aspect-ratio: 1;
  height: clamp(14rem, 11.4rem + 13vw, 27rem);
}
.saptha__hero__heading__container {
  margin-block: auto;
  align-content: center;
  justify-items: center;
}
.saptha__hero__heading__container h1 {
  font-size: 4rem;
  font-size: clamp(4rem, 2.05rem + 9.75vw, 13.75rem);
}
.saptha__hero__heading__container > * {
  grid-area: 2/1/3/2;
}
.saptha__hero__heading__container h1 {
  align-self: center;
}

@media (min-width: 75em) {
  .crumb-wrap {
    margin-top: 19rem;
  }
}

.saptha__logo {
  aspect-ratio: 1;
  height: clamp(20rem, 100%, 29rem);
  grid-row: 1/2;
  justify-self: center;
}
@media (min-width: 75em) {
  .saptha__logo {
    grid-column: 3/4;
  }
}
.saptha__logo > * {
  opacity: 1;
  stroke: #fff;
  stroke-width: 2px;
}

.saptha__about {
  --max-width: 77rem;
  row-gap: 8rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  padding-block: clamp(6rem, 3vw, 15rem);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.05) 13.81%, rgba(227, 227, 227, 0.05) 100%);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
.saptha__about__text {
  grid-row: 2/3;
  text-align: left;
}
@media (min-width: 75em) {
  .saptha__about__text {
    grid-area: 1/2/2/3;
  }
}
.saptha__about__text > p {
  font-size: 0.75rem;
  font-size: clamp(0.75rem, 0.4875rem + 1.3125vw, 2.0625rem);
}
@media (min-width: 75em) {
  .saptha__about {
    background-image: url(../assets/svg/contour.svg);
    background-repeat: no-repeat;
    background-size: cover;
    row-gap: unset;
  }
}

.saptha__spotlight__cards {
  --gap: 5rem;
  flex-wrap: wrap;
}

/*# sourceMappingURL=index.css.map */
